@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@1&display=swap');

body {
    background-color: #ebebeb;
    background-position: right top;
    background-attachment: fixed;
    background-repeat: none;
    background-size: cover;
    font-family: inherit;
    padding: 18px;
    margin: 50px;
    font-size: 125%;
    color: #000000;
}

.photo{
  display: block;
  float: right;
  max-width: 400px;
  margin: 10px;
}

img {
   width: 100%;
  max-width: 100%;
}

.col-sm-8 {
  margin: 0;
}

.navbar {
  background-color: black;
  color: #028a0f;
  font-family: inherit;
  margin-bottom: 15px;
}

h1 {
  text-align: center;
  font-size: 250%;
  font-family: 'IM Fell DW Pica', serif;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 3px;
}

h2, h3 {
    font-family: 'IM Fell DW Pica', serif;
    font-weight: 800;
    font-style: normal;
    font-size: 175%;
    letter-spacing: 3px;
    }

.title {
  max-width: 70%;
  font-size: 285%;
  letter-spacing: 2px;
  margin-left: 150px;
}

section {
  text-align: left;
  min-width:250px;
}

.summary {
column-count:3;
}

#links {
  background-color: #000000;
  position: sticky;
  top: 0;
  padding: 1px;
  color: #ffffff;
  border-radius: 7px;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  margin-right: 10px;
}

.nav-home {
  font-weight: bold;
}

a {
    text-decoration: none;
    color: #d0f0c0!important;
}

a:hover {
  color: #2e8b57!important;
}

  @media screen and (max-width: 900px) {
    section {
      max-width: 100%;
    }
    .summary {
      column-count: 1;
    }
}
