@import url("https://use.typekit.net/hcj4cig.css");


div{
 position:relative;
 text-align:center;
}

body{
 /* background-image: url("../img/night-sky.svg");  */
 background-color: #04042b;
 background-size: cover;
 background-repeat: no-repeat;
 color: white;
 font-family: Arial;
 margin-top:2%;
 text-align:center;
}

h2, h3, h4, p{
 color: white;
 margin-bottom: 1%;
 font-family: roc-grotesk, sans-serif;
 font-weight: 400;
 font-style: normal;
}

#year, #month, #day{
 border:#404040;
 color: darkblue;
 background-color: white;
 min-height:50px;
 font-family: Arial;
 font-weight: bold;
 border-radius: 5px;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 -o-border-radius:5px;
}

button {
  color: black;
}

input[placeholder]{
   text-align: center;
   font-family: Arial;
   font-weight: bold;
   color: darkblue;
}


#display, h4#display{
 border:#404040;
 color:white;
/* background-color:#b3d9ff; */
 padding-top:2%;
 padding-bottom:5%;
 margin: 10px;
 text-align:center;
 font-family: roc-grotesk, sans-serif;
 font-weight: 600;
 font-style: normal;
 font-size: 200%;
 border-radius: 20px;
 -webkit-border-radius:20px;
 -moz-border-radius:20px;
 -o-border-radius:20px;
}

@media screen and (max-width:480px){
 #display.rwd-break{
   display:block;
 }
}

#submit{
 border:#404040;
 color:#fff;
 margin-top:3%;
 text-align:center;
 background-color: #ff8000;
 font-family: Arial;
 font-weight: bold;
 border-radius: 20px;
 -webkit-border-radius:20px;
 -moz-border-radius:20px;
 -o-border-radius:20px;
 outline:none;
}
#submit:hover{
 background-color:#cc5500;
}

#zodiac{
 position:absolute;
 z-index:2;
 width:25%;
 top:48%;
 left:38%;
}

#output {
  column-count: 3;
}

/* blinking glow */
#glow {
  z-index:-5;
  animation: glow 2s ease infinite;
}
@keyframes glow {
  /* split on and off blink (45:20 ratio) with a little fade out */
  0%, 45% {
    opacity: 100%;
  }
  70%,90% {
    opacity: 33%;
  }
  /* brief blink after turning on */
  5%,15% {
    opacity: 100%;
  }
  10% {
    opacity: 80%;
  }
}
